@import "{}/imports/ui/layouts/App.less";

// Components
@import "{}/imports/ui/components/Header/Header.less";
@import "{}/imports/ui/components/Messages/MessagesList.less";
@import "{}/imports/ui/components/FormElements/Input.less";

// Pages
@import "{}/imports/ui/pages/Profile/Profile.less";
@import "{}/imports/ui/pages/Signup/Signup.less";
@import "{}/imports/ui/pages/Login/Login.less";
@import "{}/imports/ui/pages/Home/Home.less";

html, body {
  width: 100%;
  height: 100%;
}

.or-separator {
  text-align: center;

  span {
    margin: 0 10px;
  }
}
